<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DnD Campaign Tracker</title>
  {{!--<link rel="stylesheet" href="css/jass.css"> --}}
  <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body class='background'>
  <div class="flex-column justify-space-around header">
    <header class="display-flex justify-space-between align-center p-2">
      <h1 class="main-header">
        Dungeons & Dragons
      </h1>
      <h2 class="sub-header">
        Campaign Tracker
      </h2>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>

    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <button id='logOutBtn'> logout</butto>
  <script src="js/logout.js"></script>
  {{/if}}
  <script src="js/script.js"></script>
</body>

</html>