<div class="character-form">
    <form>
        <h2 class='charFormHeader'>Character Builder</h2>
        <div class="character-name-div">
            <label for="charName" class="characterLabel">Character Name</label>
            <input type="text" id="charName" class='character-input'>
        </div>
        <div class='charRaceClass'>
            <label for="charRace" class="characterLabel">Race</label>
            <input type="text" id="charRace" class='character-input'>
            
            <label for="charClass" class="characterLabel">Class</label>
            <select id="classList" name="classList"> 
              
        </div>
    </form>
</div>