<div class="login-form">
    <h2 class="login-header">
        Welcome
    </h2>
    <h4 class='login-subheader'>LOGIN</h4>
    
    <button id="loginBtn" class="login-button">login / sign up</button>
</div>

<script src='./js/login.js'></script>