<div class="login-form">
    <h2 class="login-header">
        Welcome
    </h2>
    <h4 class='login-subheader'>LOGIN</h4>
    <input class="username" id='login-username' type="text" placeholder="username">
    <input class="password" id='login-password' type="text" placeholder="password">
    <button type='submit' class="login-button">login</button>
    <a href="/signup" class="signup-button">Sign up</a>
</div>

<script src='/public/js/login.js'></script>