<div class="login-form">
    <h2 class="login-header">
        Welcome
    </h2>
    <h4 class='login-subheader'>LOGIN</h4>
    <input class="username" type="text" placeholder="username">
    <input class="password" type="password" placeholder="password">
    <button class="login-button">login</button>
    <a href="/signup" class="signup-button">Sign up</a>
</div>