<div class="login-form">
    <h2 class="login-header">
        Welcome
    </h2>
    <input class="username" type="text" placeholder="Username">
    <input class="password" type="text" placeholder="Password">
    <button class="login-button">login</button>
    <a href"/signup" class="signup-button">Signup</a>
</div>