<div class='profile-page'>
    <h2 class="userName"> {{user.user_name}}</h2>

    <div>
        <div class='profileCampaigns'>
            {{character_name}}
            
        </div>
    </div>
</div>