<div class="signup-form">
    <h2 class="login-header">
        Welcome
    </h2>
    <h4 class='login-subheader'>SIGN-UP</h4>
    <input class="username" id="signup-username" type="text" placeholder="username">
    <input class="password" id="signup-password" type="text" placeholder="password">
    <button type='submit' class="login-button">sign up</button>
    <a href="/login" class="signup-button">login</a>
</div>

<script src='/js/signup.js'></script>